body {
  background-color: #282c34;
}

a {
  color: lightyellow;
  text-decoration: none;
  &:hover {
    color: grey;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lora";
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.text_button {
  font-style: italic;
  display: inline;
}

.text_button:hover {
  cursor: pointer;
  opacity: 0.5;
}

#app_wrap {
  // display: flex;
  // font-family: 'Crimson Pro', serif;
  font-family: "Open Sans", sans-serif;
  color: white;
  max-width: 1000px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

#hero_section_wrap,
#section_wrap {
  display: flex;
  justify-content: center;
}

#hero_section_wrap {
  min-height: 100vh;
}

.left_side_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  max-width: 1000px;
  min-width: 300px;
}

#main-app-heading {
  // min-width: 300px;
  h1 {
    color: rgb(69, 237, 142);
    border: rgb(116, 30, 44) thick solid;
    font-size: 5em;
  }
}

#bio_wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 40px;
  text-align: left;
  overflow: hidden;
  padding-top: 30px;
}

.animated_height {
  transition: max-height 2s ease-in-out;
}

.truncated {
  max-height: 580px;
  // margin-top: 20px;
}

.expanded {
  max-height: 3000px;
}

.right_side_column {
  display: flex;
  flex-direction: column;
  padding: 3.5em 2em 0em 2em;
  gap: 2em;
  max-width: 500px;
  img {
    max-height: 700px;
    object-fit: cover;
  }
}

#lessons_link {
  text-align: right;
  transform: translateX(-100px);
  animation: bounce-x 2s forwards;
}

@keyframes bounce-x {
  20% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
  40% {
    transform: translateX(-80px);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
  60% {
    transform: translateX(-70px);
    animation-timing-function: ease-out;
  }
  65% {
    transform: translateX(0%);
    animation-timing-function: ease-in;
  }
  70% {
    transform: translateX(-60px);
    animation-timing-function: ease-out;
  }
  75% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateX(-50px);
    animation-timing-function: ease-out;
  }
  85% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(-40px);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  78% {
    transform: translateX(-30px);
    animation-timing-function: ease-out;
  }
  79% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateX(-20px);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateX(-10px);
    animation-timing-function: ease-out;
  }
  83% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  84% {
    transform: translateX(-5px);
    animation-timing-function: ease-out;
  }
  85% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  86% {
    transform: translateX(-4px);
    animation-timing-function: ease-out;
  }
  87% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  88% {
    transform: translateX(-3px);
    animation-timing-function: ease-out;
  }
  89% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(-3px);
    animation-timing-function: ease-out;
  }
  91% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  92% {
    transform: translateX(-2px);
    animation-timing-function: ease-out;
  }
  93% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  94% {
    transform: translateX(-2px);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  96% {
    transform: translateX(-1px);
    animation-timing-function: ease-out;
  }
  97% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  98% {
    transform: translateX(-1px);
    animation-timing-function: ease-out;
  }
  99% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
  }
}

img {
  width: 100%;
}

#scroll_indicator {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(-50%) translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media (min-width: 0px) {
  #main-app-heading {
    h1 {
      min-width: 280px;
    }
  }
}

@media (min-width: 800px) {
  .left_side_column {
    max-width: 300px;
  }
}

@media (min-width: 1200px) {
  // #main-app-heading {
  //   h1 {
  //     width: 100px;
  //     min-width:300px;
  //   }

  // }
}
