body {
  background-color: #282c34;
}

a {
  color: lightyellow;
  text-decoration: none;
  &:hover {
    color: grey;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lora";
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.text_button {
  font-style: italic;
  display: inline;
}

.text_button:hover {
  cursor: pointer;
  opacity: 0.5;
}

#app_wrap {
  display: flex;
  // font-family: 'Crimson Pro', serif;
  font-family: "Open Sans", sans-serif;
  color: white;
  max-width: 1000px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

#left_side_column {
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  margin: auto;
  display: flex;
  max-width: 400px;
  flex-direction: column;
}

#main-app-heading {
  // min-width: 300px;
  h1 {
    color: rgb(69, 237, 142);
    border: rgb(116, 30, 44) thick solid;
    font-size: 5em;
  }
}

#bio_wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 40px;
  text-align: left;
  overflow: hidden;
  padding-top: 30px;
}

.animated_height {
  transition: max-height 2s ease-in-out;
}

.truncated {
  max-height: 600px;
  // margin-top: 20px;
}

.expanded {
  max-height: 3000px;
}

#right_side_column {
  display: flex;
  flex-direction: column;
  padding: 3.5em 2em 0em 2em;
  gap: 2em;
  max-width: 500px;
  img {
    max-height: 700px;
    object-fit: cover;
  }
}

img {
  width: 100%;
}

@media (min-width: 0px) {
  #main-app-heading {
    h1 {
      min-width: 280px;
    }
  }
}

@media (min-width: 1200px) {
  // #main-app-heading {
  //   h1 {
  //     width: 100px;
  //     min-width:300px;
  //   }

  // }
}
