body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 18px;
}

p.link:hover {
  cursor: pointer;
}

h1 {
  font-size:10em;
  max-width: 300px;
}

h2 {
  font-size:4em;
}

h3 {
  font-size: 2em;
}

@media (max-width: 1250px) {
  h1 {
    font-size:5em;
  }
}

@media (max-width: 15650px) {
  
}